<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.itnoles.nolesfootballxl"
	android:versionCode="1"
	android:versionName="1.0">
	<uses-sdk android:minSdkVersion="Honeycomb" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="@string/app_name" android:icon="@drawable/icon">
		<activity android:name="NolesFootball" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.itnoles.shared.activity.HeadlinesActivity" />
		<activity android:name="com.itnoles.shared.activity.HeadlinesActivity$DetailsActivity" />
		<activity android:name="com.itnoles.shared.activity.ScheduleActivity" />
		<activity android:name="com.itnoles.shared.activity.ScheduleActivity$DetailsActivity" />
		<activity android:name="LinkActivity" />
		<activity android:name="com.itnoles.shared.activity.StaffActivity" />
		<!--<activity android:name="com.itnoles.shared.activity.StadiumActivity" />-->
		<activity android:name="com.itnoles.shared.activity.SettingsActivity" />
	</application>
	<supports-screens
		android:smallScreens="false"
		android:normalScreens="false"
		android:largeScreens="false"
		android:xlargeScreens="true" />
</manifest>