<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.itnoles.nolesfootball"
	android:versionCode="1"
	android:versionName="@string/version"
	android:installLocation="auto">
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="@string/app_name" android:icon="@drawable/icon" android:theme="@style/CustomTheme">
		<activity android:name="com.itnoles.shared.activity.MainActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.itnoles.shared.activity.HeadlinesActivity" />
		<activity android:name="com.itnoles.shared.activity.WebViewActivity" android:theme="@android:style/Theme.Translucent" />
		<activity android:name="com.itnoles.shared.activity.ScheduleActivity" />
		<activity android:name="com.itnoles.shared.activity.ScheduleDetailsActivity" />
		<activity android:name="com.itnoles.shared.activity.LinkActivity" />
		<activity android:name="com.itnoles.shared.activity.StaffActivity" />
		<activity android:name="com.itnoles.shared.activity.SettingsActivity" />
		<activity android:name="com.itnoles.shared.activity.AboutSettings" />
	</application>
	<support-screens
		android:smallScreens="false"
	/>
</manifest>